/*all*/
.wrapXL {
    max-width: 1328px;
    margin: auto auto;
}

.wrapL {
    max-width: 1104px;
    margin: auto auto;
}

.double-poivron {
    height: 48px;
    width: auto;
}

/*title*/
.title-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0 80px 0;
    gap: 100px;
}
.title-part h2 {
    font-family: "DINPro-CondensedMedium";
    font-size: 240px;
}
.title-part img {
    height: 100px;
    width: auto;
}

.center-element{
    width: 100%;
    height: auto;
    text-align: center
}

/*button*/
.see-more {
    font-family: "DINPro-CondensedMedium";
    font-size: 24px;
    padding: 10px 12px;
    background: #d7b21d53;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: auto auto;
}

/*bloc*/
.align-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
