/*all*/
.wrap {
    max-width: 1328px;
    margin: auto auto;
}

.double-poivron {
    height: 48px;
    width: auto;
}

/*title*/
.title-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0 80px 0;
    gap: 100px;
}
.title-part h2 {
    font-family: "DINPro-CondensedMedium";
    font-size: 240px;
}
.title-part img {
    height: 100px;
    width: auto;
}

.center-element{
    width: 100%;
    height: auto;
    text-align: center
}

/*button*/
.see-more {
    font-family: "DINPro-CondensedMedium";
    font-size: 24px;
    padding: 10px 12px;
    background: #d7b21d53;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: auto auto;
}

/*bloc*/
.align-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

/*small-bloc*/
.small-bloc {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 70px;
}
.small-bloc img {
    width: 432px;
    height: 432px;
}
.small-bloc-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.small-bloc-content-line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small-bloc-content-line1 h6 {
    font-family: "DINPro-Medium";
    font-size: 24px;
}
.small-bloc-content-line1 p {
    font-family: "DINPro-CondensedMediumItalic";
    font-size: 24px;
}

/*big-bloc*/
.big-bloc {
    width: 656px;
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background: #E5F3F6;
}
.big-bloc-cat {
    font-family: "DINPro-Medium";
    font-size: 20px;
}
.big-bloc-title {
    font-family: "DINPro-Medium";
    font-size: 100px;    
}
.big-bloc-desc {
    font-family: "DINPro";
    font-size: 17px;
}
