/*all*/
.wrapXL {
    max-width: 1328px;
    margin: auto auto;
}

.wrapL {
    max-width: 1104px;
    margin: auto auto;
}

.double-poivron {
    height: 48px;
    width: auto;
}

/*title*/

/*button*/
.see-more {
    font-family: "DINPro-CondensedMedium";
    font-size: 24px;
    padding: 10px 12px;
    background: #d7b21d53;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: auto auto;
}

/*bloc*/
.align-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.logo-social {
    width: 25px;
    height: auto;
}