@font-face {
    font-family: "DINPro-CondensedMedium";
    src: url('../../../font/din/DINPro-CondensedMedium.ttf');
}

@font-face {
    font-family: "DINPro";
    src: url('../../../font/din/DINPro.ttf');
}

@font-face {
    font-family: "DINPro-Medium";
    src: url('../../../font/din/DINPro-Medium.ttf');
}

@font-face {
    font-family: "DINPro-CondensedMediumItalic";
    src: url('../../../font/din/DINPro-CondensedMediumItalic.ttf');
}

@font-face {
    font-family: "DINPro-Condensed";
    src: url('../../../font/din/DINPro-CondensedRegular.ttf');
}

@font-face {
    font-family: "DINPro-CondensedBold";
    src: url('../../../font/din/DINPro-CondensedBold.ttf');
}

@font-face {
    font-family: "DINPro-Light";
    src: url('../../../font/din/DINPro-Light.ttf');
}