.plus-button {
    width: fit-content;
    height: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    text-decoration: none;
    font-family: "DINPro-CondensedLight";
    font-size: 20px;
    transition: all 0.5s ease;
}
.plus-button img {
    padding: 8px;
    width: 24px;
    height: 24px;
    transition: all 0.5s ease;
}
.plus-button p {
    width: auto;
    padding: 0 8px;
    display: none;
}
.plus-button:hover {
    background: black;
    width: fit-content;
    padding-right: 8px;
}
.plus-button:hover img{
    transform: rotate(90deg);
    filter: invert();
}
.plus-button:hover p {
    display: contents;
    color: white;
}