/*all*/
body::after {
    content: "";
    background-image: url(../img/montagne-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 652px;
    height: 984px;
    position: absolute;
    right: 0;
    top: 30%;
    fill: #659899;
    opacity: 50%;
    z-index: -1;
}

.wrapXL {
    max-width: 90%;
    margin: auto auto;
}

.wrapL {
    max-width: 80%;
    margin: auto auto;
}

.center-items {
    width: 100%;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.double-poivron {
    height: 48px;
    padding: 60px 0;
}

/*grid bloc*/
.grid-small-bloc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.grid-big-bloc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

/*button*/
.see-more {
    font-family: "DINPro-CondensedMedium";
    font-size: 24px;
    padding: 10px 12px;
    background: #d7b21d53;
    text-decoration: none;
    color: black;
    text-align: center;
}
.see-more:hover {

    background: #d7b21d82;
}


/*bloc*/
.align-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.logo-social {
    width: 30px;
    height: auto;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1080px) {
    .grid-big-bloc {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}
@media only screen and (max-width: 1080px) {
    .grid-small-bloc {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    body::after {
        width: 300px;
        height: 600px;
    }
}
@media only screen and (max-width: 940px) {
    .grid-small-bloc {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}