.footer-logo {
    padding: 230px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-color {
    width: 100%;
    height: auto;
    background: #659899;
    font-family: "DINPro";
    font-size: 17px;
    position: relative;
}
.footer-color::after {
    content: "";
    background-image: url(../img/poivron.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 501px;
    height: 595px;
    position: absolute;
    left: 54%;
    top: -163%;
    transform: rotate(35deg);
    fill: #659899;
    opacity: 17%;
    z-index: -1;
}

.footer-align {
    max-width: 1104px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 90px 0;
}
.footer-title {
    font-family: "DINPro-CondensedBold";
    font-size: 20px;
    padding-bottom: 30px;
}
.footer-left {
    text-align: left;
    width: 200px;
}
.footer-center {
    text-align: center;
}
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer-right {
    text-align: right;
}
.footer-right div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}