.img-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.img-desc-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 415px;
    height: auto;
    padding: 65px;
}
.img-desc-img img {
    width: 100%;
}
.img-desc-title {
    font-family: "DINPro-Medium";
    font-size: 1.5rem;
    padding-bottom: 16px;
}
.img-desc-text {
    font-family: "DINPro";
    font-size: 1rem;
}

.desc-only-content {
    text-align: center;
}
.last-podcast {
    height: 415px;
    width: 415px;
}