.mentions-title {
    font-family: "DINPro-CondensedBold";
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.mentions-text {
    font-family: "DINPro";
    font-size: 1rem;
    padding-bottom: 30px;
}