form {
    margin: auto auto;
    width: 40%;
    padding-top: 100px;
}

label {
    font-family: "DINPro-CondensedMedium";
    font-size: 24px;
}

input[type=text] {
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    font-family: "DINPro-Light";
    font-size: 16px;
}

textarea {
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 1px solid black;
    min-width: 100%;
    max-width: 100%;
    font-family: "DINPro-Light";
    font-size: 16px;
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-family: "DINPro-Condensed";
    font-size: 24px;
    color: white;
    padding: 10px 15px;

    border: 1px solid black;
    background: black;
}

.form-submit img {
    width: 30px;
    height: auto;
    filter: invert(1);
}

.form-submit:hover {
    background-color: #ffffff00;
    color: black;
}
.form-submit:hover img {
    filter: none;
}