.small-bloc {
    width: 432px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 70px;
}
.small-bloc img {
    width: auto;
    height: 432px;
}
.small-bloc-content {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "DINPro";
    font-size: 1rem;
}
.small-bloc-content-line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small-bloc-content-line1-name {
    font-family: "DINPro-Medium";
    font-size: 1.5rem;
}
.small-bloc-content-line1-date {
    font-family: "DINPro-CondensedMediumItalic";
    font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
    .small-bloc {
        width: 350px;
    }
    .small-bloc img {
        height: 350px;
    }
}