.title-poivron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 100px;
}
.title-poivron-title {
    font-family: "DINPro-CondensedMedium";
    font-size: 10rem;
    text-transform: uppercase;
    width: fit-content;
}
.title-poivron-img {
    height: 100px;
    width: auto;
}

@media only screen and (max-width: 1440px) {
    .title-poivron {
        gap: 70px;
    }
    .title-poivron-title {
        font-size: 10rem;
    }
    .title-poivron-img {
        height: 90px;
    }
}
@media only screen and (max-width: 1080px) {
    .title-poivron {
        gap: 60px;
    }
    .title-poivron-title {
        font-size: 8rem;
    }
    .title-poivron-img {
        height: 80px;
    }
}
@media only screen and (max-width: 860px) {
    .title-poivron {
        gap: 50px;
    }
    .title-poivron-title {
        font-size: 7rem;
    }
    .title-poivron-img {
        height: 70px;
    }
}
@media only screen and (max-width: 640px) {
    .title-poivron {
        gap: 40px;
    }
    .title-poivron-title {
        font-size: 5.5rem;
    }
    .title-poivron-img {
        height: 60px;
    }
}
@media only screen and (max-width: 480px) {
    .title-poivron {
        gap: 30px;
    }
    .title-poivron-title {
        font-size: 5rem;
        width: fit-content;
    }
    .title-poivron-img {
        height: 50px;
    }
}
@media only screen and (max-width: 420px) {
    .title-poivron {
        gap: 20px;
    }
    .title-poivron-title {
        font-size: 4.5rem;
        width: fit-content;
    }
    .title-poivron-img {
        height: 50px;
    }
}

