.title-poivron {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 100px;
}
.title-poivron-title {
    font-family: "DINPro-CondensedMedium";
    font-size: 240px;
    text-transform: uppercase;
}
.title-poivron-img {
    height: 100px;
    width: auto;
}
